.*.swp
*.o
*.a
*.bak
*~
*.so
*.log
*.orig

tags

cscope.in.out
cscope.out
cscope.po.out

*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

*.vpj
*.vpw
*.vpwhist
*.vtg

*.gz
*.bz2

mtcping-*/

!*.a
!*.so

# Add other ignore the trace files
mtcping
tcping
ping
mtraceroute


